.navigation{

	position: relative;		
	width: 100%;
	height: 46px;
	background-color: #FFF;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	z-index: 2;
	ul{
		width: 80%;
		li{
			display:inline-block;
			height: 46px;
			width: auto;
			font-size: 18px;
			padding: 9px 8px;
			a{
				text-decoration: none;
			}
		}
	}
	.cont-right{
		padding: 10px 10px;
		font-size: 20px;
	}	

}
.user-info{
	position: relative;	
	z-index: 2;	
	display: block;			
	width: 30%;
	height: 90%;
	border-radius: 5px 0px 5px 5px;
	-webkit-box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1); 
	background-color: #fff;		
	.btn-group{
		padding-left:8%;
	}
	.type{
		text-align: center;
		color: #0080FF;
		width: 60%;
		margin-left: auto;
		margin-right: auto;		
		font-size: 25px;
		span{
			vertical-align: 25px;
		}		
	}
}

.bitacora{
	position: relative;	
	z-index: 2;	
	display: block;			
	width: 69%;
	height: 90%;
	border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 1px 1px 0.5px 0.5px rgba(0,0,0,0.2); 
	background-color: #fff;
}

.base{		
	position: absolute;	
	background: url(../imgs/base1.jpg);
	background-repeat: repeat;
	opacity: 0.9;
	z-index: -1;
}

.cont-left{
	float: left;
}
.cont-right{
	float: right;
}


	
	

