.navigation{

	position: relative;		
	width: 100%;
	height: 46px;
	background-color: #FFF;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	z-index: 2;
	ul{
		width: 80%;
		li{
			display:inline-block;
			height: 46px;
			width: auto;
			font-size: 18px;
			padding: 9px 8px;
			a{
				text-decoration: none;

			}
		}
	}
	.cont-right{
		padding: 10px 10px;
		font-size: 20px;
	}	
	.active{
		border-bottom: 5px solid #0080FF;
	}

}
.user-info{
	position: relative;	
	z-index: 2;	
	display: block;			
	width: 30%;
	height: 90%;
	border-radius: 5px 0px 5px 5px;
	-webkit-box-shadow: 0.5px 0.5px 1px 1px rgba(0,0,0,0.1); 
	background-color: #fff;		
	.btn-group{
		padding-left:8%;
	}
	.type{
		text-align: center;
		color: #0080FF;
		width: 60%;
		margin-left: auto;
		margin-right: auto;		
		font-size: 25px;
		span{
			vertical-align: 25px;
		}		
	}
}

.bitacora{
	position: relative;	
	z-index: 2;	
	display: block;			
	width: 69%;
	height: 90%;
	border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 1px 1px 0.5px 0.5px rgba(0,0,0,0.2); 
	background-color: #fff;

	.container{
		text-align: center;
		width: 100%;
		height: 80px;
		border-bottom: 1px solid rgba(0,0,0,0.15);
	}

	.users{
		width: 20%;
		text-align: center;

		.title{	
			padding: 20px;		
			width: 100%;
			height: 100%;
			border: 1px solid rgba(0,0,0,0.15);
			background-color: #eee;
			color:#0080FF; 			

			h3{
				margin: 0;
				padding:0;
			}
		}

	}

	.list-bit{
		position: absolute;
		width: 79%;
		margin: 2px 2px;
		font-size: 18px;

	}

}

.content{
	position: relative;
	width: 90%;
	margin: auto auto;
	min-height: 90%;
	height: auto;
	background-color: #fff;

}

.mostrar{
	position: relative;	
	width: 80%
	margin: auto auto;
	padding: 4% 4%;
	height: auto;
	.input-group{
		padding-top: 20px;
		padding-right: 30px;
		display: inline-table;		
	}	


}

.base{		
	position: absolute;	
	background: url(../imgs/base1.jpg);
	background-repeat: repeat;
	opacity: 0.9;
	z-index: -1;
}

.txt-input-group{
	padding: 2em 2em;
	width: 50%;
	float: left;
	.input-group{
		padding: 1em 1em;
	}
}

.cont-left{
	float: left;
}
.cont-right{
	float: right;
}


	
	

